{
  "bip": "{{ docker_daemon_configuration.bip }}",
  {% for collector in node_exporter_disabled_collectors %}
  "tls": true,
  {% endfor %}
  "tlsverify": true,
  "tlscacert": "",
  "tlscert": "",
  "tlskey": "",
  "default-address-pools":[
    {% for user in userlist %}
    {"base":"172.80.0.0/16","size":24},
    {"base":"172.90.0.0/16","size":24}
    {{ "," if not loop.last }}
    {% endfor %}
  ],
  {% for collector in node_exporter_disabled_collectors %}
  "log-driver": "{{ docker_daemon_configuration.log-driver }}",
  {% endfor %}
  "log-opts": {
    "max-size": "{{ docker_daemon_configuration.log-opts.max-size }}",
    "max-file":"{{ docker_daemon_configuration.log-opts.max-file }}",
    "labels": "{{ docker_daemon_configuration.log-opts.labels }}",
    "env": "{{ docker_daemon_configuration.log-opts.env }}"
  }
}