{
{% if docker_daemon_configuration.bip is defined %}
  "bip": "{{ docker_daemon_configuration.bip }}",
{% endif %}
{% if docker_daemon_configuration.tls is defined %}
  "tls": {{ docker_daemon_configuration.tls }},
{% endif %}
{% if docker_daemon_configuration.tlsverify is defined %}
  "tlsverify": {{ docker_daemon_configuration.tlsverify }},
{% endif %}
{% if docker_daemon_configuration.tlscacert is defined %}
  "tlscacert": "{{ docker_daemon_configuration.tlscacert }}",
{% endif %}
{% if docker_daemon_configuration.tlscert is defined %}
  "tlscert": "{{ docker_daemon_configuration.tlscert }}",
{% endif %}
{% if docker_daemon_configuration.tlskey is defined %}
  "tlskey": "{{ docker_daemon_configuration.tlskey }}",
{% endif %}
{% if docker_daemon_configuration.log_driver is defined %}
  "log-driver": "{{ docker_daemon_configuration.log_driver }}",
{% endif %}
  "log-opts": {
{% if docker_daemon_configuration.log_opts.max_size is defined %}
    "max-size": "{{ docker_daemon_configuration.log_opts.max_size }}",
{% endif %}
{% if docker_daemon_configuration.log_opts.max_file is defined %}
    "max-file":"{{ docker_daemon_configuration.log_opts.max_file }}",
{% endif %}
{% if docker_daemon_configuration.log_opts.labels is defined %}
    "labels": "{{ docker_daemon_configuration.log_opts.labels }}",
{% endif %}
{% if docker_daemon_configuration.log_opts.env is defined %}
    "env": "{{ docker_daemon_configuration.log_opts.env }}"
{% endif %}
  }
}